.upload-widget .file-box {
    height:120px;
    width:120px;
    border:1px solid #eee;
    background-color: #fff;
    position:relative;
    background-image: url('/images/icons/upload-add.png');
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.upload-widget .file-box:hover {
    border:1px solid #000;
}

.upload-widget .file-box .file-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
}

.upload-widget .file-box .progress {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    height:10px;
    background-color: #fff;
}

.upload-widget .image-list {
    float:left;
}

.upload-widget .image-list .image {
    display: inline-block;
    height:120px;
    margin-right:10px;
    margin-bottom:10px;
    position:relative;
}

.upload-widget .image-list .image .remove {
    height:20px;
    position:absolute;
    left:0;
    right:0;
    top:0;
    background-color: #f00;
    opacity: .6;
    color:#fff;
    text-align: center;
    display:none;
}

.upload-widget .image-list .image:hover .remove {
    display: block;
}

.upload-widget .image-list .image img{
    display: inline-block;
    height:120px;
}