$primary: #ffdc40;
$border-radius:0;
$border-radius-lg:0;
$border-radius-sm:0;

$input-btn-focus-width:0;
$input-focus-border-color: #000;
$input-btn-padding-y: .5rem;
$input-btn-padding-x: .75rem;
$btn-padding-x: 1.7rem;

$body-bg: #f5f5f5;
$body-color: #555;

$font-size-base: 1rem;
$font-size-lg: ($font-size-base * 1.25);
$font-size-sm: ($font-size-base * .875);

$link-color: #555;
$link-hover-color: #ffdc40;
$link-hover-decoration: none;
$link-decoration: none;

$grid-gutter-width: 20px;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    font-size:13px;
    color:#555;
    line-height:1.5;
    font-family: Roboto,Helvetica,Tahoma,Arial,"Microsoft YaHei";
}

::-webkit-scrollbar-thumb{background:#b1b1b1;border-radius:4px} ::-webkit-scrollbar{width:5px;height:5px;background-color:transparent;border-radius:3px}

.text-red {
    color:#f00;
}

.form-control.error {
    border:1px solid #dc3545;
}

.form-control:focus{
    z-index:9999;
}

select.form-control {
    -webkit-appearance: none;
    border-radius: 0;
    background-size: 1.5rem 1rem;
    background-image: url('/images/icons/down.png');
    background-image: url('/images/icons/down.svg'), none;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right:30px;
}

.ickeck-box {
    position: relative;
    padding-left:25px;
    padding-top:0;
    height:25px;
    margin-top:9px;
    display:inline-block;
    width:auto;
    margin-right:10px;
    .icheckbox_minimal, .iradio_minimal {
        position: absolute;
        top: 0;
        left: 0;
    }

    input[type="radio"], input[type="checkbox"] {
        position: absolute;
        left:-9999px;
    }
}

.pagination-wrapper {
    padding:20px 0;
    border-top:1px solid #e5e5e5;
    display:flex;
    justify-content: center;
    .pagination {
        margin:0;
    }
}

.header {
    width:100%;
    height:60px;
    line-height:60px;
    font-size:14px;
    background-color:#fff;

    .brand {
        float:left;
        .logo {
            vertical-align: top;
            height:60px;
        }
    }

    .login-navbar {
        float:right;
        padding-right:15px;
        .navbar-item {
            padding:0 20px;
            display:inline-block;
            &:hover {
                color:#555;
                background-color:#f0f0f0;
            }
        }

        .drop-menu {
            position: relative;
            display:inline-block;
            .menu-content {
                background-color:#fff;
                display: none;
                position: absolute;
                left:0;
                right:0;
                z-index:999;
                top:100%;
                .menu-item {
                    display:block;
                }
            }
        }

        .drop-menu.active {
            .menu-content {
                display:block;
            }
        }
    }
}

.articles {
    margin-top: 20px;

    .page-main {
        .content {
            background-color: #fff;
            .title {
                text-align:center;
                font-weight:normal;
                padding:30px 0;
                margin:0;
            }

            .article-info {
                text-align: center;
                padding: 0;
                height: 30px;
                line-height: 30px;
                span {
                    padding-right: 10px;
                    color: #aab2bd;
                    &:hover {
                        color: #656d78;
                    }
                }
            }

            div.article-body {
                font-size: 15px;
                line-height: 2;
                word-wrap: break-word;
                color: #555;
                padding:1.5rem;
            }

            ul.article_list {
                padding: 0px 20px;
                margin:0;
            }

            ul.article_list li {
                padding-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #eee;
                list-style: none;
            }

            ul.article_list li:last-child {
                border-bottom: none;
            }

            ul.article_list li a {
                text-decoration: none;
                font-size: 1.5rem;
                display: inline-block;
            }

            ul.article_list li div.description {
                padding: 0;
                margin: 0px;
                padding-top: 15px;
                font-size:15px;
                color: #aab2bd;
            }

            ul.article_list li.has-image {
                div.description {
                    .image {
                        margin-bottom:10px;
                        overflow: hidden;
                        border-radius:4px;
                    }
                }
            }

            ul.article_list li div.info {
                margin-top: 10px;
                padding-left: 0;
                line-height: 2;
                text-align: left;
                color: #aab2bd;
            }

            ul.article_list li span {
                padding-right: 20px;
            }

            ul.article_list li span:hover {
                color: #656d78;
            }

            ul.article_list li span.click_num i {
                padding-left: 20px;
                background-image: url(/images/icons/article_icon.png);
                background-repeat: no-repeat;
                background-position: 0 0;
                position: relative;
                top: -2px;
            }

            ul.article_list li span.click_num:hover i {
                background-position: 0 -18px;
            }
        }
    }

    .sidebar {
        .category-list {
            background-color:#fff;
            .category-item {
                position: relative;
                display: block;
                position: relative;
                height: 44px;
                line-height: 44px;
                padding: 0 30px;
                color:#555;

                &.active {
                    color: #555;
                    background-color: #ffdc40;
                }
                &:hover {
                    color: #555;
                    background-color: #ffdc40;
                }
            }
        }

        .part {
            background: #fff;
            margin-bottom: 15px;
            line-height: 1;
            padding: 0 20px;

            h3 {
                margin:0;
                font-size: 15px;
                color: #555;
                padding: 0;
                height: 40px;
                line-height: 40px;
                font-weight: bold;
                text-align: center;
                border-bottom: 1px solid #eee;
            }

            ul {
                padding: 10px 0;
                margin:0;
                li {
                    padding: 0;
                    height: 40px;
                    line-height: 40px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    span {
                        color:#999;
                        float:right;
                    }
                }
            }
        }
    }
}

.container-min {
    margin:0 auto;
    font-size:14px;
    h1.title {
        font-size:2.2rem;
        margin: 25px 0;
        text-align: center;
        font-weight: normal;
    }
    max-width:540px;
    padding:0 15px;

    // 获取验证码按钮不需要太宽
    .get-verify {
        padding:.5rem;
    }

    // 找回密码提示信息
    p.reminder {
        margin-bottom:20px;
        font-size:13px;
    }

    .form-wrapper {
        background-color:#fff;
        padding:25px 35px;
        padding-bottom:0;
        border-radius:0;

        .radio-box {
            padding-top:40px;
        }

        // 针对找回密码增加底部padding
        &.padding-bottom {
            padding:25px 35px;
        }

        @media (max-width: 480px) {
            padding:0px 15px;
            .radio-box {
                padding-top:20px;
            }

            &.padding-bottom {
                padding:15px;
            }
        }

        label.input_radio {
            border: 1px solid #ccc;
            display: inline-block;
            zoom: 1;
            overflow: hidden;
            padding: 9px 0;
            cursor: pointer;
            position: relative;
            margin:0;
            text-align:center;

            &:hover {
                border:1px solid #000;
                padding: 9px 0;
            }

            &.selected {
                border:1px solid #000;
                padding: 9px 0;
                background: url("/images/icons/selected.png") no-repeat bottom right;
            }

            input {
                position: absolute;
                left:-99999px;
            }
        }

        label.input_radio {
            width: 48%;
        }

        .remember-group {
            padding-top:20px;
        }

        .form-group {
            border-bottom:1px solid #ddd;
            margin-bottom:1px;
            padding:10px 0;

            &:hover {
                border-bottom:1px solid #000;
                transition: border-color ease-in-out .3s;
                margin-bottom:1px;
            }

            label {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                margin:0;
                width:25%;
            }

            .form-control {
                width:70%;
                border:none;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .form-group-controls {
            padding-top:40px;
            @media (max-width: 480px) {
                padding-top:20px;
            }
        }

        // 表单页面底部的链接
        .controls {
            padding:23px 0;
            margin:0;
        }
    }
}

.center {
    font-size:13px;
    &.container {
        margin:0 auto;
        margin-top: 20px;
        position: relative;
    }

    .sidebar {
        background-color:#fff;
        width:200px;
        overflow: hidden;
        position: absolute;
        bottom:0;
        top:0;
        border:solid 1px #dee2e6;
        border-right:0;

        .menu-list {
            background-color:#fff;
            .list-item {
                position: relative;
                display:block;
                position: relative;
                height: 44px;
                line-height: 44px;
                padding: 0 30px;
                &:hover {
                    color:#555;
                    background-color:#ffdc40;
                }

                &.active {
                    color:#555;
                    background-color:#ffdc40;
                }
            }
        }

        @media (max-width: 767px) {
            position: relative;
            width: 100%;
            margin-bottom:15px;
            border:none;
        }

    }

    // 内容区域
    .main-container {
        width:100%;
        padding-left:200px;

        .table-responsive {
            .table {
                min-width:400px;
            }
        }

        .container-wrapper {
            background-color:#fff;
            position: relative;

            .header-line {
                position: relative;
                h3 {
                    margin:0;
                    font-size:22px;
                    color:#555;
                    text-align:center;
                    font-weight:normal;
                    @media (max-width: 767px){
                        font-size:1rem;
                    }
                }

                .tabs {
                    a {
                        display:inline-block;
                        padding:20px 40px;
                        margin-bottom:-1px;
                        color:#555;

                        &.active {
                            border-bottom:2px solid #000;
                            color:#555;
                            font-weight:bold;
                        }
                    }
                }
            }

            .form-group-wrapper {
                .form-group {
                    margin:0;
                    padding: 10px 142px;
                    @media (max-width: 991px) {
                        padding: 10px 20px;
                    }
                    .label {
                        margin-bottom:5px;
                    }
                }

                .form-group:first-child {
                    padding-top: 50px;
                }

                .form-group:last-child {
                    padding-bottom: 50px;
                }
            }

            .list-wrapper {
                padding:0 40px;

                @media (max-width: 1200px) {
                    padding:0 20px;
                }

                .mycoin {
                    padding:20px;
                    color: #857221;
                    background-color: #fff8d9;
                    border:none;
                    background-image: url(/images/icons/coin.png);
                    background-repeat: no-repeat;
                    background-position: 15px center;
                    background-size:50px;
                    padding-left: 75px;
                }

                .coins {
                    .item {
                        border: 1px solid #ddd;
                        cursor: pointer;
                        width: 100%;
                        height: 55px;
                        line-height: 55px;
                        text-align: center;
                        position:relative;

                        &:hover {
                            background-color:#f9f9f9;
                        }

                        &.selected {
                            border: 1px solid #000;
                            background: url(/images/icons/selected.png) no-repeat bottom right;
                        }

                        input[type="radio"] {
                            position: absolute;
                            left: -9999px;
                        }
                    }
                }

                .list {
                    .table th i.sort {
                        background-image: url('/images/icons/field-sort.png');
                        background-image:image-set(url('/images/icons/field-sort.png')1x,url('/images/icons/field-sort@x2.png')2x) ;
                        background-image:-webkit-image-set(url('/images/icons/field-sort.png')1x,url('/images/icons/field-sort@x2.png')2x) ;
                        background-repeat: no-repeat;
                        background-position: right 2px;
                        padding-right: 15px;
                        color: #333;
                        position: relative;
                        text-decoration: none;
                    }

                    .table th i.sort-up {
                        background-position: right -118px;
                    }

                    .table th i.sort-down {
                        background-position: right -58px;
                    }
                }

                .no-content {
                    text-align:center;
                    padding:30px 0;
                }
            }
        }

        @media (max-width: 767px) {
            padding-left:0;
        }
    }
}

.footer {
    padding:15px;
    width: 100%;
    color: #555;
    line-height:2;
}

.footer_1 {
    position: fixed;
    bottom: 0;
    display: block;
}

.footer_2 {
    position: unset;
    bottom: 0;
    display: block;
}
